.checkout-item {
  border-bottom: 1px solid darkgrey;
  display: flex;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name,
  .quantity,
  .price {
    width: 25%;
    display: flex;
  }

  @media screen and (max-width: 800px) {
    font-size: 12px;
    .price {
      margin-right: 15px;
    }
    .quantity{
      margin: 7px
    }
  }

  .arrow {
    cursor: pointer;
  }
  .value {
    margin: 0 10px;
  }
  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
