.cart-icon {
  width: 45px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  position: relative;

  .shopping-icon {
    width: 24px;
  }

  .item-count {
    font-size: 10px;
    font-weight: bold;
    bottom: 11px;
    position: absolute;
  }
}
